<?xml version="1.0" ?>
<launch>
  <!-- Spawn the example robot -->
  <param name="robot_description" command="$(find xacro)/xacro $(find velodyne_description)/urdf/example.urdf.xacro" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- RViz -->
  <arg name="rviz" default="true"/>
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find velodyne_description)/rviz/example.rviz" />

</launch>
