<?xml version="1.0"?>

<launch>
  <arg name="rviz" default="true"/>
  <param name="robot_description" command="$(find xacro)/xacro.py $(find wamv_gazebo)/urdf/wamv_gazebo.urdf.xacro" />
  <!-- <param name="use_gui" value="True"/> -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <!-- <node if="$(arg rviz)" pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find velodyne_description)/rviz/example.rviz" /> -->
</launch>
